body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.dashboard {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

header {
    margin: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    color: #004D00;
    margin-bottom: 10px;
}

.date-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.date-picker input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.indicators {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.indicator {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 250px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza o movimento */
}

.indicator:hover {
    transform: translateY(-10px); /* Move o indicador 10px para cima */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); /* Aumenta a sombra ao hover */
}

.indicator h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.indicator p {
    font-size: 1.5rem;
    color: #4CAF50;
    font-weight: bold;
}

.icon {
    font-size: 2.5rem;
    color: #FFC107;
    margin-bottom: 10px;
}

.chart-container {
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
